<div class="w-full h-full grid grid-cols-12 grid-rows-10 bg-board bg-cover">
  <div class="col-start-10 col-span-3 row-start-2 row-end-10">
    <app-player></app-player>
  </div>
  <div class="row-start-5 row-span-5 col-start-2 col-span-5 relative flex justify-center items-center">
    <!-- card-stack -->
    <img *ngFor="let card of [0,1,2,3]; let i = index" [ngStyle]="{'right.px': i*5}" class="absolute w-32 h-48"
      src="../../assets/img/cards/card_cover.png">
    <img (click)="takeCard()" class="absolute cursor-pointer" style="right:25px"
      src="../../assets/img/cards/card_cover.png">

    <!-- Stack for player cards -->
    <img *ngFor="let card of game.playerCard" class="absolute played-card w-32 h-48" src="../../assets/img/cards/{{card}}.png">

    <!-- current cars (animation) -->
    <img (click)="takeCard()" *ngIf="pickCardAnimation" class="absolute cursor-pointer w-32 h-48 transition-card pick-Card"
      style="right:25px" src="../../assets/img/cards/{{currentCard}}.png">
  </div>
</div>