<div class="w-full h-full grid grid-cols-12 grid-rows-12 gap-1 p-2 bg-board bg-cover">
  <div class="col-start-10 col-span-3 row-start-2 row-end-11 flex flex-col justify-between">
    <div>
      <app-player *ngFor="let player of game.players; let i = index;" [name]="player"
        [playerActive]="i == game.currentPlayer"></app-player>
    </div></div>
    <div class="row-start-11 row-span-2 col-start-10 col-span-3 flex justify-center items-center">
      <button mat-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
 
  <div class="row-start-6 row-span-5 col-start-2 col-span-5 relative flex justify-center items-center">
    <!-- card-stack -->
    <img *ngFor="let card of [0,1,2,3]; let i = index" [ngStyle]="{'right.px': i*5}" class="absolute w-28 h-42"
      src="../../assets/img/cards/card_cover.png">
    <img (click)="takeCard()" class="absolute cursor-pointer w-28 h-42" style="right:25px"
      src="../../assets/img/cards/card_cover.png">

    <!-- Stack for player cards -->
    <img *ngFor="let card of game.playerCard" class="absolute played-card w-28 h-42"
      src="../../assets/img/cards/{{card}}.png">

    <!-- current cars (animation) -->
    <img (click)="takeCard()" *ngIf="pickCardAnimation"
      class="absolute cursor-pointer w-28 h-42 transition-card pick-Card" style="right:25px"
      src="../../assets/img/cards/{{currentCard}}.png">
  </div>

  <!-- game info -->
  <div class="row-start-11 row-span-2 col-start-2 col-span-8 flex justify-center items-center">
    <app-game-info  [card]="currentCard" class="w-full"></app-game-info>
  </div>
</div>