<div class="w-full h-full grid grid-cols-12 grid-rows-10 bg-board bg-cover">
  <div class="row-start-5 row-span-5 col-start-2 col-span-5 relative flex justify-center items-center">
    <img *ngFor="let card of [0,1,2,3]; let i = index" [ngStyle]="{'right.px': i*5}" class="absolute"
      src="../../assets/img/cards/card_cover.png">
    <img (click)="takeCard()" class="absolute cursor-pointer" style="right:25px"
      src="../../assets/img/cards/card_cover.png">
    <img (click)="takeCard()" *ngIf="pickCardAnimation"
      class="absolute cursor-pointer transition-card pick-Card" style="right:25px"
      src="../../assets/img/cards/{{currentCard}}.png">
      <img  class="absolute top-0" src="../../assets/img/cards/{{currentPlayerCard}}.png" alt="" srcset="">
  </div>
</div>